
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <img width="300" src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png">
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
