<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Product Name" [(ngModel)]="product.name" />
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="number" pInputText placeholder="Product Price" min="1" [(ngModel)]="product.price" />
        </div>
    </div>
     <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <p-button label="Submit" styleClass="ui-button-success" (click)="add()"></p-button>
        </div>
    </div>
</div>

<hr>

<p-table [value]="products | async">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>PRICE $</th>
          <th>ACTION</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <p-button label="Edit" styleClass="ui-button-info" (click)="showDialog(product)"></p-button>
            <p-button label="Remove" styleClass="ui-button-danger" (click)="remove(product)"></p-button>
          </td>
      </tr>
  </ng-template>
</p-table>


<p-dialog [(visible)]="display">
    <p-header>
        Update Product
    </p-header>
      <div class="ui-g ui-fluid">
        <input type="text" pInputText [(ngModel)]="product.id" [value]="product.id" readonly/>
        <input type="text" pInputText placeholder="Product Name" [(ngModel)]="product.name" [value]="product.name" />
        <input type="number" pInputText placeholder="Product Price" min="1" [(ngModel)]="product.price" [value]="product.price"/>
      </div>
    <p-footer>
        <p-button label="Update" styleClass="ui-button-primary" (click)="edit(product)"></p-button>
    </p-footer>
</p-dialog>






